/* 1. Reset global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Configuração base do HTML e Body */
html {
  font-size: 16px; /* 1rem = 16px */
  scroll-behavior: smooth; /* rolagem suave */
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. Mídia responsiva */
img,
picture,
video,
canvas,
svg {
  width: 100%;
  display: block;
  /* max-width: 100%; */
  height: auto;
}

/* 4. Links */
a {
  color: inherit;
  text-decoration: none;
}

/* 5. Botões */
button {
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

/* 6. Listas */
ul,
ol {
  list-style: none;
}

/* 7. Inputs e formulários */
input,
textarea,
select {
  font: inherit;
}

/* 8. Scroll snapping para sections de tela cheia */
html,
body {
  height: 100%;
  overflow: hidden;
  /* scroll-snap-type: y mandatory;  */
  scroll-behavior: smooth;
  overflow-y: scroll;
}

section {
  min-height: 100vh;
  height: auto;
  scroll-snap-align: start;
  /* display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

/* --------------------Menu-----------------------*/
.menu {
  background-color: white;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #eee;
  color: #0a1128;
}

.menu-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
  width: min(90%, 1200px);
  height: 64px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: #0a1128;
  position: relative;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 1.7rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background-color: #dc143c;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}

.menu h1 {
  font-size: 2.3rem;
}

/*---------Intro-------------*/

.main-intro {
  position: relative;
  margin: auto;
  background-image: url(./img/confetti-doodles.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-colums {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem;
}

.about-photo {
  flex: 1 1 250px;
  display: flex;
  justify-content: center;
}

.about-photo img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  margin-right: 5px;
}

.about-content {
  display: flex;
  flex-direction: column;
  background-color: #0a1128;
  border-radius: 20px;
}

.about-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  background-color: black;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  /* color: #dc143c; */
}
.about-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  /* color: #dc143c; */
}

.about-content p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

/*-----------------Skills--------------*/

.main-skills {
  position: relative;
  margin: auto;
  background-image: url(./img/scattered-forcefields.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #0a1128;
}

.main-skills-colums {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  transform: translate(-50%, -50%);
}

.main-skills p {
  color: white;
}

.main-skills strong {
  font-size: 1.2rem;
}

.skills-container {
  position: relative;
  display: flex;
  gap: 3rem;

  margin: auto;
}

.main-skills h2 {
  margin-bottom: 1rem;
  border-bottom: 1px solid #444;
  padding-bottom: 0.5rem;
}

.section {
  margin-bottom: 2rem;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.skill-text {
  display: flex;
  flex-direction: column;
}

.dots {
  display: flex;
  gap: 0.4rem;
}

.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  /* border: 1px solid black; */
}

.dot.filled {
  background-color: #4da3ff;
}

.dot.empty {
  background-color: #333;
}

/* Coluna Direita */
.right-column {
  flex: 1;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1rem;
}

.skill-card {
  background-color: #1c1c1c;
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.skill-card i {
  font-size: 2.5rem;
  color: #4da3ff;
}

.skill-card p {
  margin: 0.5rem 0 0.2rem;
  font-weight: bold;
}

.skill-card span {
  font-size: 0.9rem;
  color: #aaa;
}

/* Coluna Esquerda */
.left-column {
  flex: 1;
}

/*---------Projetos-------------*/
.projetos {
  position: relative;
  margin: auto;
  background-image: url(./img/confetti-doodles.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 4rem 2rem; */
}



.projetos h1 {
  padding-top: 90px;
}
.projetos h2 {
  padding-bottom: 50px;
}

.projetos i {
  font-size: 2.5rem;
}

.projeto1 {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  max-height: 630px;
  margin: 0 auto;
  gap: 3rem;
  margin-bottom: 3rem;
}

.info {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 300px;
  gap: 10px;
  background-color: #0a1128;
}

.imagem-projetos {
  position: relative;
  width: 500px;
  border-radius: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/* .info h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #64e1ff;
} */

/* .info .sobre {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
} */

.tec-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.tecnologias {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  gap: 15px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: #0a1128;
}

/* .imagem img {
  width: 500px;
  max-width: 100%;
  border-radius: 10px;
} */

/*----------Contact------------*/

.contact {
  position: relative;
  margin: auto;
  background-image: url(./img/scattered-forcefields.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #0a1128;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-colum {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2.5rem;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.item i {
  font-size: 22px;
  margin-right: 10px;
}

.item a:hover {
  text-decoration: underline;
}

.item i.fa-whatsapp {
  color: #25d366; /* Verde do WhatsApp */
}

.item i.fa-envelope {
  color: #d44638; /* Vermelho do Gmail */
}

.item i.fa-linkedin {
  color: #0a66c2; /* Azul do LinkedIn */
}

.item i.fa-github {
  color: black; /* Branco do GitHub */
}

.item i.fa-file {
  color: #ffd43b; /* Amarelo para documentos */
}

/*-------------MEDIA-----------------*/
@media (max-width: 900px) {
  .projeto1 {
    flex-wrap: wrap;
  }
}
@media (max-width: 580px) {
  .menu h1 {
    font-size: 1.2rem;
  }

  .menu ul li a {
    padding: 1rem;
    font-size: 1rem;
  }
}
